html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}



.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),url("https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&w=1600");

    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}


.nav{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.logo {
    text-transform: capitalize;
    padding: 15px 0 0 40px;
    color: white;
    display: flex;
    font-size: 24px;
}

.pro {
    padding-left: 3px;
    background: #ff5e00;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}


.extra{
    display: flex;
    color: red;
}
.extra li{
    margin: 15px 70px 0 23px;
}



.dropdown {
    position: relative;
    display: inline-block;
    color: white;
  }
 
 
.dropdown-content {
    display: none;
    position: absolute;
    
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}



nav li{
    list-style: none;
    
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
}


    
.despegable{
    position: absolute;
}


.despegable li{
    position: relative;
    left: -50px;
    
}

nav li a:hover {
    text-decoration: underline 3px;
    text-decoration-color: #ff5e00;
    text-decoration-skip: 10px;
    color: rgb(223, 223, 223);     
}




.texto {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto h1 {
    padding: 10px;
    border: 3px solid;
    font-size: 48px;
    border-color:#ff5e00;
    border-image: linear-gradient(45deg,#ff5e00ee,rgb(20, 20, 20),rgba(255, 1, 1, 0.966)) 1;
    color: white;
}


.slider{
    width: 100%;
    height: 130vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
}

/* border-image: linear-gradient(45deg,#ff5e00ee,rgb(20, 20, 20),rgba(255, 1, 1, 0.966)) 1;*/
.slider-container {
    border: solid 4px ;
    border-image: linear-gradient(45deg,#757575ee,rgba(196, 196, 196, 0.966)) 1;
    color: white;
    border-radius: 9px ;
    display: flex;
    width: 70%;
    height:50%;
    margin-top: 75px;
    overflow-x: scroll;
    
    /* Vamos a añadir esto 👇 */
    scroll-snap-type: x mandatory;
    
  }



  


  .slider-container>div{
    background-color: rgb(155, 154, 154);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}


.slider-container .contenedor{
    margin-left: 50px;
    width: 45%;
    height: 60%;
    color: rgb(221, 221, 221);
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.slider-container h1{
    
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif ;    
}

.slider-container p{
    font-family: sans-serif;
    margin-bottom: 20px;
    width: 75%;
    
    
}
.slider-container img{
    width: 25%;
    height: 30%;
    margin-right: 70px;
}


.slider-container>div:nth-child(1){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}

.slider-container>div:nth-child(2){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.slider-container>div:nth-child(3){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    
}

.slider-container>div:nth-child(4){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply ;
}

.slider-container>div:nth-child(5){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}


.slider-container>div:nth-child(6){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}


.slider-container>div:nth-child(7){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}


.slider-container>div:nth-child(8){
    background: linear-gradient(to bottom, rgba(19, 61, 252, 0.473) 0%, rgba(39, 18, 228, 0.336) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;}




.slider-container>div a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 7px 0 ;
    color: rgb(3, 3, 3);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(214, 214, 214);  
    border-radius: 50px;  
    background-color: rgb(214, 214, 214);
}

.slider-container>div a:hover{
    background:#ffffff;
    border: 2px solid rgb(255, 255, 255);
}

  


#athletes{
    width: 100%;
    height: 50vh;
    background-color:#bebebe6b;
    
    display: flex;
    justify-content: center;
}

#athletes .athletes{
    width: 65%;
    height: 100%;
    position: relative;
    top: -190px;
    display: flex;
    border: solid 10px;
    border-image:linear-gradient(to bottom,  #161616,rgb(235, 235, 235),#161616)1;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

  .athletes .marketing {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }

.athletes .img{
    width: 50%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.athletes .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to bottom,#293e5a,#235094fa);
}

    


.info h1{
    text-transform: capitalize;
}

.info h3{
    width: 85%;
}

.info ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.info li{
    margin: 15px;
}

.info p{
    text-transform: uppercase;
}


.marketing{
    display: flex;
    
}



.marketing a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.marketing  .atras i {
    
    display: block;
    position: relative;
    left: -575px;
    top: 86%;
    width:0;
    
}
.marketing  .siguiente i{
    display: block;
    position: relative;
    left: -545px;
    top: 86%;
    width:0;
    height: 0px;
}



.about{
    padding-top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fdfdfd31;
    display: flex;
}
.about .linea{


    display: flex;
    padding-top: 30px;
}
.about>div>hr{
    height: 96%;
    background-color: rgb(0, 0, 0);
    border: solid .5px rgb(0, 0, 0);
}

.expanding{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expanding div{
    width: 95%;
    background-color: rgb(71, 71, 71);
    color: white;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.expanding hr{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border: solid .5px rgb(0, 0, 0);
}
.expanding h1{
    font-size: 32px;
}
.expanding h2{
    font-size: 14px;
   
}


.expanding h3{
    font-size: 20px;
    width: 90%;
    
}
.expanding p{
    color: rgb(194, 194, 194);
    width: 90%;
}

.imagenes{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.imagenes h3{
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width: 70%;

}
.imagenes div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.imagenes img{
    margin: 10px;
    transition: .4s;
    width: 40%;
}

.imagenes div img:hover{
    width: 41%;
    border: solid 3px rgb(107, 107, 107);
}

.sesion{

    width: 100%;
    height: 70vh;
    background-color: rgb(199, 199, 199);
    display: flex;
    color: white;
    justify-content: center;
}




.contacto{
    width: 70%;
    background-color: #161616;
    display: flex;
    border-radius: 9px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}

.duda{
    font-size: 32px;
}

.atributo{
  color: #989898;  
  font-size: 24px;
}
input{
    border-color: #ffffff;
    border-radius: 9px;
    height: 3%;
}

.submit{
    font-size: 22px;
    background-color:#fdfdfd;
    color: #585858; 
    font-weight: bolder;
    width: 10%;
    height: 5%;
    border-radius: 9px;
    text-transform: capitalize;
    margin-top: 50px;
    cursor: pointer;
}




footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

footer .redes i{
    margin: 0 30px;
}
footer div{
    margin: 25px 0px 0 0;
}

footer h6{
    width: 65%;
}